altgraph==0.17
asgiref==3.2.10
auto-py-to-exe==2.7.11
bottle==0.12.19
bottle-websocket==0.2.9
boto3==1.16.57
botocore==1.19.57
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
decorator==4.4.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.2
django-heroku==0.3.1
django-storages==1.11.1
Eel==0.12.4
future==0.18.2
gevent==20.12.0
gevent-websocket==0.10.1
greenlet==1.0a1
gunicorn==20.0.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
Jinja2==2.11.2
MarkupSafe==1.1.1
moviepy==1.0.3
nine==1.1.0
numpy==1.19.4
pefile==2019.4.18
Pillow==8.0.0
proglog==0.1.9
postgres==3.0.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.25.1
secure-smtplib==0.1.1
sqlparse==0.4.1
tqdm==4.55.0
urllib3==1.26.2
whichcraft==0.6.1
whitenoise==5.2.0
youtube-dl==2020.12.22
zope.event==4.5.0
zope.interface==5.2.0